.photos { cursor: pointer; }
/* Glisse: Overlay */
#glisse-overlay { background: rgba(0, 0, 0.3); }
#glisse-close { height: 30px; width: 60px; text-align: center; position: fixed; top: 40px; right: 40px; background: url(../img/galeria_estrutura/x.png); }
/* Prev/Next button */
.glisse-next a, .glisse-prev a { width: 40px; height: 40px; display: block; position: fixed; bottom: 10px; }
.glisse-next a { left: 50%; margin-left: 20px; background: url(../img/galeria_estrutura/next.png); }
.glisse-prev a { left: 50%; margin-left: -40px; background: url(../img/galeria_estrutura/prev.png); }
/* Legend */
.glisse-legend { position: fixed; display: block; bottom: 10px; left: 10px; color: white; }
