@charset "utf-8";
/* CSS Document */

#img {margin-top:-340px; margin-left:0px; width:700px; height:200px; background:#;}


#img ul {
 
 margin:auto;


}

#texto{
	
 margin-top:230px;
 padding-top:5px;
 padding-left:6px;
 margin-left:132px;
	width:690px;
	height:975px;
	background:url(../img/agenda/moldura.png);
	}
	
