@charset "utf-8";
/* CSS Document */

#promocao{
	width:662px;
	height:184px;
	background:url(../img/promocao/titlepage.png);
	margin-top:-200px;
}
#back-paper{
	width:944px;
	height:864px;
	background:url(../img/promocao/backpromo.png);	
}
#texto-promo{
	width:570px;
	height:855px;
	margin-left:80px;
	padding-top:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	color:#666;
}